{% extends 'base.html' %}

<!-- Title -->

{% block title %} My Account {% endblock %}

<!-- Breadcrumbs -->

{% block breadcrumb %}
<li class="bread-crumb active">My Account</li>
{% endblock %}

<!-- Content -->

{% block content %}
<div class="row">
  <div class="col-lg-6 col-md-8 col-sm-10">
    <small>In order to add a picture to your account visit <a href="https://en.gravatar.com/">Gravatar</a> and register with the same email that you used here.  It's free!</small>
    <form novalidate method="post" class="mt-3">
      {% csrf_token %} {% include 'includes/form.html' %}
      <button class="btn btn-success mt-2">Save changes</button>
    </form>
  </div>
</div>
{% endblock %}
