{% extends 'base.html' %}

<!-- Title -->

{% block title %} Change Password {% endblock %}

<!-- Breadcrumb -->
{% block breadcrumb %}
<li class="breadcrumb-item active">Change Password</li>
{% endblock %}

<!-- Content -->

{% block content %}
<div class="row">
  <div class="col-lg-6 col-md-8 col-sm-10">
    <form novalidate method="post">
      {% csrf_token %} {% include 'includes/form.html' %}
      <button class="btn btn-success">Change Password</button>
    </form>
  </div>
</div>
{% endblock %}
